package layout

import "github.com/bhanna1693/gameoflife/web/templates/index"

templ Base(pageId string) {
	@index.Index() {
		<div
			id={ pageId + "-page" }
			class="container mx-auto px-4"
		>
			{ children... }
		</div>
	}
}
