package index

import "github.com/bhanna1693/gameoflife/components/nav"

templ Index() {
    <html>
        <head>
            <title>Index</title>
        </head>
        <body>
            @nav.Nav()
            {children...}
        </body>
    </html>
}
