package gameoflife

import "github.com/bhanna1693/gameoflife/web/templates/layout"
import "github.com/bhanna1693/gameoflife/internal/models/gameoflife"

templ GameOfLifeStart(dto gameoflife.GameOfLifeDTO) {
	@layout.Base() {
		<div id="gameoflife-page">
			<h1>Game Of Life</h1>
			@GameOfLifeBoard(dto)
		</div>
	}
}
