package layout

import "github.com/bhanna1693/gameoflife/web/views/index"
import "strings"

templ Base(title string) {
	@index.Index(title) {
		<div
			id={ strings.ReplaceAll(title, " ", "-") + "-page" }
			class="container mx-auto px-4"
		>
			{ children... }
		</div>
	}
}
